.header-container {
  padding: 28px 100px;
  background-color: #1e1e30;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-link {
  text-decoration: none;
}
.header-heading {
  color: #f8fafc;
  font-family: 'Bree Serif';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}
.header-heading span {
  color: #3b82f6;
  font-weight: 500;
}

.header-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header-nav-link {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #94a3b8;
}
.active-home,
.active-about {
  font-weight: 500;
  color: #f8fafc;
}
.header-container ul li {
  margin-left: 48px;
}
.header-pop-up-container {
  display: none;
}

.popup-modal-container {
  display: none;
}
.nav-menu-icon {
  display: none;
}
@media screen and (max-width: 1025px) {
  .header-container {
    padding: 28px 60px;
  }
}

@media screen and (max-width: 769px) {
  .header-container {
    padding: 14px 30px;
  }
  .nav-menu-icon {
    display: block;
  }
  .header-container ul {
    display: none;
  }
  .header-pop-up-container {
    display: block;
  }
  .trigger-button {
    background-color: transparent;
    cursor: pointer;
    border: 0 solid;
    outline: none;
  }

  .popup-modal-container ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  .popup-modal-container ul li {
    margin-right: 40px;
  }
  .popup-modal-container {
    background-color: #161625;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
  .nav-link-popup-con {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.355556px;
    color: #94a3b8;
    text-decoration: none;
  }
}

@media screen and (max-width: 481px) {
  .header-container {
    padding: 14px 25px;
  }
  .header-heading {
    font-size: 18px;
  }
}
